/* Big tabelt -> 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }


}


/* Larger phones, iPad landscape: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 3rem 0;
    }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box {
        margin-top: .5rem;
    }

    .works-steps {
        margin-bottom: 2rem;
    }

    .steps-box:last-child {
        margin-top: .5rem;

    }

    .works-steps:last-of-type {
        margin-bottom: 3rem;
    }

    .app-screen {
        width: 50%;
    }

    .icon-small {
        width: 1rem;
        margin-right: .5rem;
    }

    .city-feature {
        font-size: .9rem;
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 2.5rem;
    }

    .contact-form {
        width: 80%;
    }
}



/* Medium Phones / iPad: 481 - 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    section {
        padding: 1.5rem 0;
    }

    .row,
    .hero-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav {
        display: none;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .app-screen {
        width: 40%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .steps-box:last-child {
        text-align: center;
    }

    .works-step {
        margin-bottom: 1.1rem;
    }

    .works-steps:last-of-type {
        margin-bottom: 1rem;
    }

    .works-step div {
        height: 2rem;
        width: 2rem;
        padding: .2rem;
        margin-right: .75rem;
        font-size: 1.2rem;
    }
}


/* Small phones: 0-480px */
@media only screen and (max-width: 480px) {
    section { padding: 1.25rem;}
    .contact-form{width: 100%;}
}
